* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background: #F0F3EF;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.clear_b {
    clear: both;
}

/*格式化部分链接*/
.link li {

    color: #999;
    font: 100 11px/30px "微软雅黑";
    display: block;
    float: left;
}

.link a {
    color: #999;
}

.link a:hover {
    color: #F10215;
}

/*顶部导航栏START*/
.top_nav {
    position: relative;
    background: #e3e4e6;
    height: 30px;
}

.nw {
    background: #e3e4e6;
    height: 30px;
    width: 1190px;
    margin: 0 auto;
}

/*顶部栏的左右表格*/
.nw tl, .nw tr {
    display: block;
    list-style: none;
}

.nw .tl {
    float: left;
}

.nw .tr {
    float: right;
}

/*表格中的li*/
.nw > ul > li {
    padding: 0 8px;
}

/*三个有下拉选项的li*/
.nw .more {
    position: relative;
    border-width: 0 1px;
    border-style: solid;
    border-color: #e3e4e6;
}

/*下拉选项的li的hover*/
.nw .more:hover {
    border-color: #ccc;
    background-color: #fff;
}

/*作为下拉框的DIV*/
.nw .more:hover > .m_d {
    display: block;
}

/*顶部栏，右边表格中，下拉选项的li中的下拉小箭头*/
.nw .tr .m_l {
    display: inline-block;
    width: 12px;
    height: 20px;
    margin-left: 4px;
    background: url("../img/pic/more.png") no-repeat 0 10px;
    background-size: 12px 12px;
}

/*作为下拉框的DIV*/
.nw .more .m_d {
    display: none;
    position: absolute;
    border: 1px solid #cccccc;
    background-color: #fff;
}

/*第一个下拉框*/
.mjd {
    left: -1px;
    top: 29px;
    width: 260px;
    height: 150px;
}

/*格式化下拉框中的li*/
.nw .more .m_d li {
    height: 20px;
    margin-top: 4px;
    margin-left: 15px;
}

/*实现部分白色边框的div的通用css*/
.nw .m_d .blank_line {
    /*要考虑权重*/
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #fff;
}

/*实现空白部分边框的div*/
.mjd .blank_line {
    top: -1px;
}

/*第一个下拉框中的div样式*/
.mjd div {
    width: 130px;
    margin-bottom: 20px;
}

/*第二个下拉框*/
.cser {
    width: 172px;
    height: 249px;
    left: -93px;
    top: 29px;
}

.m_d .m_d_t {
    margin-bottom: -10px;
    margin-top: 4px;
    width: 172px;
    font-weight: bold;
    text-indent: 1.5em;
    color: #666;
}

.cser div {
    width: 86px;
    margin-bottom: 12px;
}

.cser .blank_line {
    left: 92px;
    top: -1px;
}

/*第三个下拉框*/
.anav {
    display: block;
    width: 1190px;
    height: 181px;
    left: -1037px;
}

.anav .blank_line {
    left: 1036px;
    top: -1px;
}

/*重写部分第三个下拉框中小标题的样式*/
.anav .m_d_t {
    height: 24px;
    width: 360px;
    text-indent: 1.3em;
    margin-bottom: -4px;
    margin-top: 0;
}

.anav li {
    float: left;
}

.anav div + .m_d_item {
    width: 360px;
}

.anav .m_d_item {
    margin-top: 15px;
    height: 152px;
}

/*第三个下拉框中第一个表格中的li*/
.anav div:nth-child(2) li {
    width: 75px;
}

.anav .m_d_item + .m_d_item li {
    width: 75px;
}

.anav .m_d_item + .m_d_item .m_d_t {
    width: 276px;
}

/*格式化下拉框中DIV*/
.nw .more .m_d div {
    float: left;
}

/*后三个div是统一的，且li也可以复用*/
.nw .more .anav .m_d_item + .m_d_item {
    width: 275px;
    border-left: 1px solid #EEE;
}

/*li之间的竖线间隔的实现*/
.nw .v_line {
    padding: 0;
    height: 12px;
    margin: 9px 4px;
    width: 1px;
    background: #ccc;
}

/*大logo*/
.nw .b_logo {
    padding-left: 0;
}

/*大logo中的a标签*/
.nw .b_logo a {
    display: inline-block;
    width: 194px;
    overflow: hidden;

}

/*格式化顶部栏的a标签，有通用*/
.nw a {
    text-decoration: none;
    color: #949597;
}

/*格式化顶部栏a标签的hover动作，有通用*/
.nw li a:hover {
    color: #F10215;
}

/*顶部导航栏END*/

/*顶部搜索栏START*/
.top_search {
    padding-top: 25px;
    width: 1190px;
    height: 115px;
    margin: 0 auto;
    /*border: 1px solid #F10215;*/
}

/*搜索框*/
.s_box {
    float: left;
    margin-left: 80px;
}

/*搜索框下的东西*/
.search {
    background-color: olivedrab;
    width: 550px;
    height: 35px;
}

.search input {
    outline: none;
    font-weight: 100;
    font-size: 18px;
    display: block;
    width: 500px;
    height: 35px;
    background-color: #ffffff;
    float: left;

}
.search button{
    display: block;
    float: left;
    height: 35px;
    width: 50px;
    background-color: #F10215;
}

/*搜索框下的东西*/
.s_option {

}

.s_option .link li {
    padding-right: 15px;
}




