<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>重写首页</title>
    <link rel="stylesheet" href="css/overwrite_index.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">

</head>

<body>
<div class="top">
    <div class="pc s_nav">
        <ul class="fl">
            <li><a class="b_logo" href="#"></a></li>
            <li class="location more" id="top_more1">
                <div class="dt"><span class="icon-l  red fa fa-map-marker fa-lg"></span>{{city_selected}}</div>
                <div id="city" class="m_d">
                    <div class="item" v-for="item in city">
                        <a class="" href="#" v-bind:data-id="item.data_id"
                           v-bind:class="{'city_selected':item.selected}" @click="styleChange(item)">{{item.city}}</a>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="fr">
            <li><a class="red" href="#">你好，请登录</a></li>
            <li><a href="#">免费注册</a></li>
            <li class="v_line"></li>
            <li><a href="#">我的订单</a></li>
            <li class="v_line"></li>

            <li class="more">
                <div class="dt"><a href="#">我的京东</a><span class="icon-r fa fa-angle-down fa-lg"></span></div>
                <div id="my_jd" class="m_d">
                    <div class="my_list list1">
                        <div class="item" v-for="item in item1">
                            <a href="#">{{item.option}}</a>
                        </div>
                    </div>
                    <div class="my_list">
                        <div class="item" v-for="item in item2">
                            <a href="#">{{item.option}}</a>
                        </div>
                    </div>
                </div>
            </li>

            <li class="v_line"></li>
            <li><a href="#">京东会员</a></li>
            <li class="v_line"></li>
            <li><a href="#">企业采购</a></li>
            <li class="v_line"></li>

            <li class="more">
                <div class="dt"><span>客户服务</span><span class="icon-r fa fa-angle-down fa-lg"></span></div>
                <div id="custom_s" class="m_d">
                    <h4>客户</h4>
                    <div class="my_list list1">
                        <div class="item" v-for="item in item1">
                            <a href="#">{{item.option}}</a>
                        </div>
                    </div>
                    <h4>商户</h4>
                    <div class="">
                        <div class="item" v-for="item in item2">
                            <a href="#">{{item.option}}</a>
                        </div>
                    </div>
                </div>
            </li>

            <li class="v_line"></li>

            <li class="more">
                <div class="dt"><span>网站导航</span><span class="icon-r fa fa-angle-down fa-lg"></span></div>
                <div id="page_nav" class="m_d">
                    <dl class="c1">
                        <dt>特色主题</dt>
                        <dd>
                            <div class="item" v-for="item in item1">
                                <a href="#">{{item.option}}</a>
                            </div>
                        </dd>
                    </dl>
                    <dl class="c2">
                        <dt>行业频道</dt>
                        <dd>
                            <div class="item" v-for="item in item2">
                                <a href="#">{{item.option}}</a>
                            </div>
                        </dd>
                    </dl>
                    <dl class="c2">
                        <dt>生活服务</dt>
                        <dd>
                            <div class="item" v-for="item in item3">
                                <a href="#">{{item.option}}</a>
                            </div>
                        </dd>
                    </dl>
                    <dl class="c2">
                        <dt>更多精选</dt>
                        <dd>
                            <div class="item" v-for="item in item4">
                                <a href="#">{{item.option}}</a>
                            </div>
                        </dd>
                    </dl>
                </div>
            </li>

            <li class="v_line"></li>
            <li><span>手机京东</span></li>
        </ul>
    </div>
</div>

<div id="v_head" class="head pc">
    <div class="search">
        <input type="text">
        <button class="b_red fa fa-search fa-lg"></button>
        <ul class="s_nav">
            <li v-for="(item,index) in headList">
                <div class="item">
                    <a href="#" v-bind:class="{'red':(index==0)}">{{item.option}}</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="cart_item">
        <div class="cart s_nav">
            <span class="car_icon fa fa-shopping-cart fa-lg red"></span>
            <a href="#" class="red">我的购物车</a>
            <span class="mount_icon">0</span>
        </div>
        <div class="more"></div>
    </div>
    <div class="nav">
        <ul>
            <li>
                <div class="item"><a href="#">秒杀</a></div>
            </li>
            <li>
                <div class="item"><a href="#">优惠券</a></div>
            </li>
            <li>
                <div class="item"><a href="#">PLUS会员</a></div>
            </li>
            <li>
                <div class="item"><a href="#">闪购</a></div>
            </li>


            <li>
                <div class="item"><a href="#">拍卖</a></div>
            </li>
            <li>
                <div class="item"><a href="#">京东服饰</a></div>
            </li>
            <li>
                <div class="item"><a href="#">京东超市</a></div>
            </li>
            <li>
                <div class="item"><a href="#">生鲜</a></div>
            </li>


            <li>
                <div class="item"><a href="#">全球购</a></div>
            </li>
            <li>
                <div class="item"><a href="#">京东金融</a></div>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="content_list pc">

    <div class="fl list">
        <ul>
            <li>
                <div class="item"><a href="#">家用电器</a></div>
                <div class="more"></div>
            </li>
            <li>
                <div class="item"><a href="#">手机</a><span class="space">/</span><a href="#">运营商</a><span
                        class="space">/</span><a href="#">数码</a></div>
                <div class="more"></div>
            </li>
            <li>
                <div class="item"><a href="#">电脑</a><span class="space">/</span><a href="#">办公</a></div>
                <div class="more"></div>
            </li>
            <li>
                <div class="item"><a href="#">家居</a><span class="space">/</span><a href="#">家具</a><span
                        class="space">/</span><a href="#">家装</a><span class="space">/</span><a href="#">厨具</a></div>
                <div class="more"></div>
            </li>
            <li>
                <div class="item"><a href="#">男装</a><span class="space">/</span><a href="#">女装</a><span
                        class="space">/</span><a href="#">童装</a><span class="space">/</span><a href="#">内衣</a></div>
                <div class="more"></div>
            </li>
            <li>
                <div class="item"><a href="#">美妆个护</a><span class="space">/</span><a href="#">宠物</a></div>
                <div class="more"></div>
            </li>
            <li>
                <div class="item"><a href="#">女鞋</a><span class="space">/</span><a href="#">箱包</a><span
                        class="space">/</span><a href="#">钟表</a><span class="space">/</span><a href="#">珠宝</a></div>
                <div class="more"></div>
            </li>
            <li>
                <div class="item"><a href="#">男鞋</a><span class="space">/</span><a href="#">运动</a><span
                        class="space">/</span><a href="#">户外</a></div>
                <div class="more"></div>
            </li>
            <li>
                <div class="item"><a href="#">房产</a><span class="space">/</span><a href="#">汽车</a><span
                        class="space">/</span><a href="#">汽车用品</a></div>
                <div class="more"></div>
            </li>
            <li>
                <div class="item"><a href="#">母婴</a><span class="space">/</span><a href="#">玩具乐器</a></div>
                <div class="more"></div>
            </li>
            <li>
                <div class="item"><a href="#">食品</a><span class="space">/</span><span class="space">/</span><a href="#">酒类</a><span
                        class="space">/</span><a href="#">生鲜</a><a href="#">特产</a></div>
                <div class="more"></div>
            </li>
            <li>
                <div class="item"><a href="#">艺术</a><span class="space">/</span><a href="#">礼品鲜花</a><span class="space">/</span><a
                        href="#">农资绿植</a></div>
                <div class="more"></div>
            </li>
            <li>
                <div class="item"><a href="#">医药保健</a><span class="space">/</span><a href="#">计生情趣</a></div>
                <div class="more"></div>
            </li>
            <li>
                <div class="item"><a href="#">图书</a><span class="space">/</span><a href="#">音像</a><span
                        class="space">/</span><a href="#">电子书</a></div>
                <div class="more"></div>
            </li>
            <li>
                <div class="item"><a href="#">机票</a><span class="space">/</span><a href="#">酒店</a><span
                        class="space">/</span><a href="#">旅游</a><span class="space">/</span><a href="#">生活</a></div>
                <div class="more"></div>
            </li>
            <li>
                <div class="item"><a href="#">理财</a><span class="space">/</span><a href="#">众筹</a><span
                        class="space">/</span><a href="#">白条</a><span class="space">/</span><a href="#">保险</a></div>
                <div class="more"></div>
            </li>
        </ul>

    </div>
    <div class="fl imgs">
        <!--轮播图-->
        <div class="imgs_list">
            <ul>
                <li class="show"><a href="#" class="b"><img src="./img/jd_head/5ac1dd6eN14477288.jpg" alt=""></a></li>
                <li class="none"><a href="#" class="b"><img src="./img/jd_head/5ac7032bN7218494e.jpg" alt=""></a></li>
                <li class="none"><a href="#" class="b"><img src="./img/jd_head/5acca241Nf205da79.jpg" alt=""></a></li>
                <li class="none"><a href="#" class="b"><img src="./img/jd_head/5aced4d1Nb4c3f257.jpg" alt=""></a></li>
                <li class="none"><a href="#" class="b"><img src="./img/jd_head/5acefc7aNc2268e2b.jpg" alt=""></a></li>
                <li class="none"><a href="#" class="b"><img src="./img/jd_head/5acf2b1fNf8d14a5f.jpg" alt=""></a></li>
                <li class="none"><a href="#" class="b"><img src="./img/jd_head/5acf257eNa7733e09.jpg" alt=""></a></li>
                <li class="none"><a href="#" class="b"><img src="./img/jd_head/5acf2904N1a197fce.jpg" alt=""></a></li>
            </ul>
            <!--遮罩层-->
            <div class="white_bg"></div>
        </div>
        <div class="l_button"><span class="fa fa-chevron-left"></span></div>
        <div class="r_button"> <span class="fa fa-chevron-right"></span></div>
    </div>
    <div class="fl "></div>
</div>
<div class="content_more pc"></div>
<footer>

</footer>
<!--<div id="app1">-->
<!--<p>{{message}}</p>-->
<!--</div>-->
<!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
<script src="./js01/vue.js"></script>
<script src="./js/overwrite_index.js"></script>
</body>
</html>
